body{
    .section{
        position: relative;
        background-image: url('../img/background2.png');
        .component{
            width: 100px;
            height: 100px;
            opacity: 0;
            &.first{
                background-image: url('../img/logoIndex.png');
            }
            &.second{
                background-image: url('../img/slogan.png');
            }
            &.right{
                background-image: url('../img/right.png');
            }
            &.left{
                background-image: url('../img/left.png');
            }
            &.mind{
                background-image: url('../img/mind.png');
            }
            &.dialog{
                background-image: url('../img/dialog.png');
            }
            &.people{
                background-image: url('../img/people.png');
            }
            &.bar1{
                background-image: url('../img/bar.png');
            }
            &.polyline1{
                background-image: url('../img/polyline.png');
            }
            &.pie1{
                background-image: url('../img/pie.png');
            }
        }
        &.index{
            background: url('../img/background1.png');
        }
    }
}